# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projeck\AccessLogParser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
out/
*.iml/